/** @format */

@media (max-width: 768px) {
  .top-section-homePage {
    max-height: 100%;
    min-height: 700px;
  }
  .container7-homePage {
    width: 100%;
  }
  .container7-homePage .img-container {
    flex-wrap: wrap;
  }
  .container7-homePage .img-container img {
    width: 160px;
  }
  .features-container-homepage1 {
    padding: 10px;
  }
  .container6-homePage {
    width: 100%;
  }

  .content-wrapper {
    width: 100%;
    line-height: normal !important;
  }
  .news-wrapper .content-head .head .heading {
    font-size: 1rem;
  }
  .news-wrapper .content-head .head button{
    font-size: 12px;
  }
}
